html, body {
	font-family: 'Raleway', sans-serif;
	background-color: #ffe6e6;
}

h1 {
	margin-bottom: 1.5rem;
}

p {
	font-weight: 500;
}

#section-one {
	background-color: #ffb3b3;
}

#section-two p {
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}